<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>selection-box</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">
    	.content{
    		border: 2px dashed #ccc;
    		padding: 3px;
    	}
    	.view{
    		background: yellow;
    		padding: 10px;
    	}
    	.component{
    		background: green;
    	}
        .active{
            font-weight: bold;
            color: black;
        }
    </style>
</head>
<body>

    <div class="container-fluid" id="app">
        <a v-link="{ path: '/selection-box' }">Component</a> | 
        <a v-link="{ path: '/teste' }">Outra view</a>
        <div class="content">
            <input type="text" v-model="fromView">
            {{ fromView }}
            <router-view keep-alive user="FULANO" :prop-a.sync="fromView" ></router-view>
        </div>
    </div>
    
    <script src="dist/build.js"></script>
</body>
</html>
