<template>
  <div class="view">

    <h3>SelectionBox View</h3>

    <input type="chebox" v-model="propA">

    <selection-box 
        name = "numeros"
        :options = "selectionBoxOptions"
        :selected = "selectionBoxSelected"
        @selected="selectedHandler">
    </selection-box><br>
    
  </div>
</template>

<script>
    import SelectionBox from '../components/selection-box.vue'
    
    export default {
        props: ['propA'],
        
        data() {
            return {
                selectionBoxOptions: ['um','dois','tres','quatro', 'cinco', 'seis'],
                selectionBoxSelected: ['dois','quatro','seis'],                
            }
        },

        components: {
            SelectionBox
        },

        methods: {
            selectedHandler (obj){
                window.console.log(JSON.stringify(obj))
            }
        },

        route: {

            activate (transition) {
              console.log('selection-box view activated!')
              transition.next()
            },

        }  
    }
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
