<template>
    <div class="view"> 
        <h3>Teste View</h3>   
        {{ user }}
        <span v-show="!message">Loading data...</span>
        <span v-show="message">
            {{message}}
            <teste></teste>
        </span>


    </div>
</template>

<script>
    import Teste from '../components/teste.vue'
    
    export default {
        //props: ['user'],

        data() {
            return {
                message: ''
            }    
        },

        components: {
            Teste
        },

        route: {

            data( transition ) {
               setTimeout(function () {
                  transition.next({
                    message: 'data fetched!'
                  })
                }, 5000)
            },     


            activate () {
              console.log('hook-example activated!')
              return true
            },

            deactivate () {
              console.log('deactivated!')
            },

            canActivate (transition) {
               let sum = prompt('Quanto é 2+2?');
               (sum == 4) ? transition.next() : transition.abort(); 
            },

            canDeactivate (transition) {
              //console.log('Proibido.')
              //transition.abort()
              return true
            }
        }       
    }
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
