<template>
    <div class="component">
        <button>Go to</button>
    </div>
</template>


<script>
    export default {
       
        data () {
            
        },

        methods: {
        	
        },

        route: {

            activate () {
                console.log('activate from testye.vue')
            },

        }
        


    };
</script>


